INSTAGRAM_USER_ID=YOUR_USER_ID_HERE
INSTAGRAM_ACCESS_TOKEN=YOUR_ACCESS_TOKEN_HERE
INSTAGRAM_API_VERSION=v26.0
INSTAGRAM_TIMEOUT_SECONDS=30
LOG_LEVEL=INFO
INSTAGRAM_TEST_IMAGE_URL=https://i.ytimg.com/vi/pbYX4gp_5kE/maxresdefault.jpg
TEST_REEL_VIDEO_URL=https://raw.githubusercontent.com/intel-iot-devkit/sample-videos/master/person-bicycle-car-detection.mp4
INSTAGRAM_DRY_RUN=true
INSTAGRAM_SCHEDULER_ENABLED=false
INSTAGRAM_TIMEZONE=Asia/Kolkata
INSTAGRAM_POST_INTERVAL_MINUTES=30
INSTAGRAM_MAX_QUEUE_SIZE=50
INSTAGRAM_MAX_RETRIES=3
INSTAGRAM_AUTOMATION_ENABLED=false
INSTAGRAM_LOOP_INTERVAL_SECONDS=60
INSTAGRAM_HEARTBEAT_INTERVAL_SECONDS=300
INSTAGRAM_MAX_ITEMS_PER_CYCLE=10
INSTAGRAM_CONTENT_SCORE_THRESHOLD=35
INSTAGRAM_MAX_CATEGORY_PERCENTAGE=40
INSTAGRAM_CATEGORY_WINDOW_SIZE=10
INSTAGRAM_MAX_CONSECUTIVE_REELS=2
INSTAGRAM_MAX_CONSECUTIVE_IMAGES=3
INSTAGRAM_MIN_POST_INTERVAL_MINUTES=30
INSTAGRAM_MORNING_START=08:00
INSTAGRAM_MORNING_END=10:00
INSTAGRAM_AFTERNOON_START=13:00
INSTAGRAM_AFTERNOON_END=15:00
INSTAGRAM_EVENING_START=18:00
INSTAGRAM_EVENING_END=21:00
INSTAGRAM_ANALYTICS_ENABLED=true
INSTAGRAM_ANALYTICS_MIN_SAMPLE_SIZE=10
INSTAGRAM_ANALYTICS_RETENTION_DAYS=90
INSTAGRAM_OPTIMIZATION_ENABLED=true
INSTAGRAM_ANALYTICS_TIMEZONE=Asia/Kolkata
INSTAGRAM_PRODUCTION_ENABLED=false
INSTAGRAM_LIVE_TEST_ENABLED=false
INSTAGRAM_MAX_LIVE_TEST_POSTS=1
INSTAGRAM_MAX_POSTS_PER_CYCLE=1
INSTAGRAM_PRODUCTION_REQUIRE_CONFIRMATION=true
INSTAGRAM_MAX_CONSECUTIVE_PUBLISH_FAILURES=3
INSTAGRAM_CRICKET_TARGET_PERCENT=75
INSTAGRAM_ROLLING_WINDOW_SIZE=30
INSTAGRAM_MAX_CRICKET_NEWS_AGE_HOURS=12
INSTAGRAM_MAX_TECH_NEWS_AGE_HOURS=24
INSTAGRAM_MATCH_DAY_CRICKET_PRIORITY=1.5
INSTAGRAM_LIVE_MATCH_PRIORITY=2.0
INSTAGRAM_CRICKET_API_URL=https://api.cricapi.com/v1
INSTAGRAM_CRICKET_API_KEY=YOUR_CRICKET_API_KEY_HERE
INSTAGRAM_TECH_RSS_FEEDS=https://feeds.feedburner.com/TechCrunch/,https://news.ycombinator.com/rss
INSTAGRAM_CRICKET_RSS_FEEDS=https://www.espncricinfo.com/rss/content/story/feeds/0.xml
INSTAGRAM_REEL_TARGET_PERCENT=80
INSTAGRAM_IMAGE_TARGET_PERCENT=20

